.register-container {
  display: flex;
  width: 800px;
  height: 500px;
  margin: 100px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.register-left {
  flex: 1;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-left .logo {
  max-width: 70%;
  height: auto;
}

.register-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 80%;
  text-align: center;
}

.register-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.register-form .avatar {
  font-size: 40px;
  margin-bottom: 20px;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #27632a;
}

/* Link de navegação */
.register-form .signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.register-form .signup-text a {
  color: #2e7d32;
  text-decoration: none;
}

.register-form .signup-text a:hover {
  text-decoration: underline;
}
