.register-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 0;
  padding: 20px;
}


.register-container {
  display: flex;
  width: 900px;
  height: 520px;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: #fff;
  flex-direction: row-reverse;
  animation: fadeIn 0.6s ease;
}

.register-side {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  transition: all 0.6s ease;
}

.register-side.left {
  background-color: #ffffff !important;
}

.register-side.right {
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  position: relative;
  overflow: hidden;


  background-image:
    radial-gradient(#ffffff70 1px, transparent 1px),
    linear-gradient(135deg, #2e7d32, #66bb6a);
  background-size: 22px 22px, 100% 100%;
  background-blend-mode: overlay;
}


.register-logo {
  width: 200px;
  height: auto;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
  transition: transform 0.8s ease;
}

.register-form {
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.register-form h2 {
  font-size: 24px;
  color: #2e7d32;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.register-avatar {
  font-size: 40px;
  color: #4caf50;
  margin-bottom: 20px;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.register-form input:focus,
.register-form select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
  outline: none;
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-button:hover {
  background-color: #27632a;
  transform: translateY(-2px);
}

.register-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register-text a {
  color: #2e7d32;
  text-decoration: none;
  font-weight: 500;
}

.register-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}